*{margin:0; padding:0; box-sizing: border-box;}

body {
   min-height: 100vh;
   background-color: #eee;

   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #333;
   text-align: center;

   display: flex;
   justify-content: center;
   align-items: center;
}

.contain {
   width: 80vw;
   /* height: 80vh; */
   max-width: max-content;
   padding: 2em 2.5em;
   background-color: #fff;
}


.description {margin-top: 1em;}

.countDownBox {
   margin-top: 1em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.controls {
   margin-top: 1em;
   display: flex;
   justify-content: space-between; 
   align-items: center;
   gap: 1em;
}

#time {
   font-family: monospace;
   font-size: 6em;
}

.control {
   background-color: #eee;
   padding: .5em 1em;
   cursor: pointer;
   border: none;
   display: flex; 
   align-items: flex-start;
   justify-content: space-between;
   gap: .4em;
}

.control:active {
   background-color: #999;
}

#initValue {
   max-width: 35%;
   outline: none;
   padding: .3em;
   border: 1px solid #ddd;
}

#initValue:focus {
   background-color: #ddd;
   border: 1px solid #333;
}

@media screen and (min-width: 1024px) {
   body {
      font-size: 16px;
   }
}